body{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}

button{
    cursor: pointer;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    header{
        background-color: #B47FF6;
        justify-content: space-between;
        padding: 55px 55px 48px 155px;
        align-items: center;
        ul{
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            li{
                cursor: pointer;
                list-style: none;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 45px;
                color: #fff;
                transition: text-decoration .2s ease-in-out;
                -webkit-transition: text-decoration .2s ease-in-out;
                -moz-transition: text-decoration .2s ease-in-out;
                -o-transition: text-decoration .2s ease-in-out;
                &:hover{
                    text-decoration: underline;
                }
                &:not(:last-child){
                    margin-right: 60px;
                }
            }
        }
        .burger{
            cursor: pointer;
            position: relative;
            div{
                width: 43px;
                height: 3px;
                background-color: #fff;
                &:not(:last-child){margin-bottom: 12px;}
            }
            .div1{
                transform: rotate(45deg);
                position: relative;
                top: 15px;
            }
            .div2{
                opacity: 0;
            }
            .div3{
                position: relative;
                top: -15px;
                transform: rotate(-45deg);
            }
        }
    }
    main{
        background-color: #A6C9FF;
        padding-top: 40px;
        flex-direction: column;
        position: relative;
        align-items: center;
        .slider{
            flex-direction: column;
            overflow-x: scroll;
            width: 100%;
            &::-webkit-scrollbar { width: 0; }
            div{
                display: flex;
                width: 300%;
                div{
                    &:nth-child(1){
                        background-color: #7029CB;
                    }
                    &:nth-child(2){
                        background-color: #cb2992;
                    }
                    &:nth-child(3){
                        background-color: #81da83;
                    }
                    width: 100% ;
                    align-items: center;
                    justify-content: center;
                    padding-top: 52px;
                    padding-bottom: 65px;
                    flex-direction: row;
                    align-items: center;
                    h1{
                        margin: 0;
                        font-weight: 700;
                        font-size: 45px;
                        line-height: 45px;
                        margin-right: 32px;
                        color:#fff;
                        
                    }
                    label{
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 28px;
                        background: #FF4B4B;
                        box-shadow: 2px 5px 10px #497957;
                        border-radius: 25px;
                        border: 0;
                        padding: 15px 25px;
                        color: #fff;
                        margin-right: 100px;
                        cursor: pointer;
                        input{
                            display: none;
                        }
                    }
                }
            }
            
            
            .left{
                position: absolute;
                background-image: url('./img/left.png');
                top: 89px;
                left: 50px;
                width: 38px;
                height: 74px;
                border: 0;
                background-color: transparent;
                background-size: cover;
            }
            .right{
                position: absolute;
                background-image: url('./img/right.png');
                top: 89px;
                right: 50px;
                width: 38px;
                height: 74px;
                border: 0;
                background-color: transparent;
                background-size: cover;
            }
        }
        h2{
            font-weight: 600;
            font-size: 30px;
            line-height: 45px;
            color: #FFFFFF;
            margin-top: 27px;
            margin-bottom: 40px;
        }
        #h2{
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                color: #FFFFFF;
                margin-top: 45px;
                margin-bottom: 40px;
            
        }
        .blocks{
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            div{
                &:nth-child(1){
                   width: 33.5%;
                   margin-bottom: 13px;
                }
                &:nth-child(2){
                    width: 65.38%;
                    margin-bottom: 13px;
                }
                &:nth-child(3){
                    width: 85%;
                }
                &:nth-child(4){
                    width: 13.8%;
                }
                &:nth-child(2n-1){
                    margin-right: 1.1115%;
                }

                background: #3ADE4B;
                min-height: 130px;
                text-align: center;
                font-weight: 400;
                font-size: 53px;
                line-height: 62px;
                color: #FFFFFF;
                padding-top: 68px;

            }
        }
        .bottom-items{
            width: 91.5%;
            margin: 0 auto;
            background: #D4FF5A;
            border-radius: 30px;
            padding: 24px 25px 20px 25px;
            flex-direction: row;
            justify-content: space-between;
            div{
                background: #497957;
                border: 2px solid #00FF4A;
                border-radius: 35px;
                transition: box-shadow .2s ease-in-out;
                -webkit-transition: box-shadow .2s ease-in-out;
                -moz-transition: box-shadow .2s ease-in-out;
                -o-transition: box-shadow .2s ease-in-out;
                cursor: pointer;
                &:hover{
                    box-shadow: 2px 5px 10px #497957;
                }
            }
        }
        .text{
            font-weight: 500;
            font-size: 28px;
            line-height: 45px;
            color: #F3F3F3;
            margin: 0;
            padding: 0;
            margin-top: 40px;
            margin-bottom: 9px;
        }
        label{
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            background: #FF4B4B;
            box-shadow: 2px 5px 10px #497957;
            border-radius: 25px;
            border: 0;
            padding: 15px 25px;
            color: #fff;
            cursor: pointer;
            input{
                display: none;
            }
        
        }
        .mb{
            margin-bottom: 40px;
        }

    }
    footer{
        background-color: #D87FF7;
        ul{
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            padding: 27px 220px 27px 204px;
            li{
                list-style: none;
                font-weight: 500;
                font-size: 28px;
                line-height: 45px;
                color: #FFFFFF;

            }
        }
    }
    .burger-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #A6C9FF;
        border: 1px solid #00FF4A;
        width: 38.5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            margin: 0;
            padding: 0;
            margin-top: 33px;
            margin-left: 65px;
            margin-bottom: 55px;
            align-self: start;
            li{
                list-style: none;
                font-weight: 500;
                font-size: 28px;
                line-height: 45px;
                color: #FFFFFF;
                &:not(:last-child){
                    margin-bottom: 39px;
                }
            }
        }
        label{
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            background: #FF4B4B;
            box-shadow: 2px 5px 10px #497957;
            border-radius: 25px;
            border: 0;
            padding: 15px 25px;
            margin-bottom: 57px;
            color: #fff;
            cursor: pointer;
            input{
                display: none;
            }
        }
    }
    .disp-open{
        display: flex;
    }
    .popUp{
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0; 
        z-index: -100;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            article{
                position: relative;
                width: 400px;
                height: 400px;
                color: #fff;
                background-color: #A6C9FF;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                color: #FFFFFF;
        }
    }
    
    .pop-up:checked + .popUp{
        z-index: 100;
        opacity: 1;
        display: flex;
    }
}

#label{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #497957;
    border-radius: 5px;
    margin: 0;
}

@media (max-width: 768px){
.container{
    header{
        padding: 55px 55px 48px 55px;
        ul{
            li{
                &:not(:last-child){
                    margin-right: 10px;
                }
                
            }
        }
    }
    main{
        .slider{
            div{
                div{
                    flex-direction: column;
                    h1{
                        margin: 0;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 45px;
                        margin-right: 15px;
                        margin-bottom: 10px;
                        color:#fff;
                        
                    }
                    label{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 28px;
                        background: #FF4B4B;
                        box-shadow: 2px 5px 10px #497957;
                        border-radius: 25px;
                        border: 0;
                        padding: 10px 15px;
                        color: #fff;
                        margin-right: 0;
                        cursor: pointer;
                
                }
                }
               
            }
        }
    }
}
.container main .bottom-items {
    width: 80%;}
.container main .slider .right{
    width: 22px;
    height: 43px;
    top: 125px;
    right: 38px;
}
.container main .slider .left{
    width: 22px;
    height: 43px;
    top: 125px;
    left: 38px;
}
.container footer ul{
    padding: 27px 26px 27px 26px;
}

.container .popUp {
    article {
    width: 300px;
    height: 300px;}
}
.container .burger-menu {
    width: 77.5%;
    label{
        font-size: 15px;
    }
}
.container header .burger div {
    width: 33px;
    height: 3px;
}
}

@media (max-width: 456px){
    .container header {
        padding: 55px 20px 48px 20px;
    }
}